

html {
  scroll-behavior: smooth;
}


body {
  padding-top: 0px;
  margin: 0;
  border: 0;
  outline: 0;
  font-family: 'Quicksand' , sans-serif;

}

#navmain {
  top: 0;
  transition: top 0.5s;
}



.sidenav {
    display: none;
}

 #maincontent {
   position: static;
   background: black;
   padding: 16vh 4vh;
   width: 100%;
 }
.row {
  border: solid black 5px;
  background: rgb(20, 20, 20);
  padding: 2vh;
}

 .col h1 {
  padding: 4vh;
  color: white;
  }

  .col p {
    color: white;
    }

 .col img{
   float: left;
  width: 50%;
  padding: 4vh;
 }

 .nav {
  background: rgba(255, 255, 255, 0);
  position: fixed;
  width: 100%;
  padding-top: 1vh;
  padding-bottom: 3.5vh;

}

.navbar-header {
  padding-top: .8vh;
  padding-left: 3.4vh;
  padding-bottom: 2.8vh;
}


.navbar-header a{

  display: inline;
  text-decoration: none;
  font-size: 3vh;
  font-weight: 100;
  color: rgb(255, 255, 255);

}

.navbar-menu {
display: none;
}





#navbar {
  position: absolute;
  text-align: left;
  padding-top: 7.2vh;
  padding-bottom: 1.4vh;
  padding-left: .5vh;
}

#navbar ul {
  display: inline;
}

#navbar ul li{
  display: inline;
  padding-right: 40px;



}

#navbar ul li a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 2vh;
  font-weight: 100;
  text-align: left;
  margin: 0;
  transition: 0.3s;

}



#navbar ul li a:hover {
  color: aquamarine;
  font-weight: 100;

}


.starter-template {
  font-weight: 100;
  padding: 20vh 15px;
  text-align: center;
  color: white;

}
.starter-template p {
  float: right;
  width: 50%;
}

.starter-template h1 {
  text-align: center;
  font-size: 6vh;

}

.starter-template img {
  float: left;
  width: 50%;
  font-size: 6vh;

}


.action-btn {
  display: inline-block;
  text-decoration: none;
  color: rgb(53, 53, 53);
  font-weight:500;
  font-size: 2vh;
  background: rgb(255, 255, 255);
  padding: 0.5em 2em;
  border-radius: 40px;
  margin: 1em 0;
  transition: 0.3s;

}

.action-btn:hover {
  background: rgba(0, 0, 0, 0.562);
  color: white;

}

#footer {
  position: static;
  width: 100%;
  background: white;
  padding-bottom: 3vh;
  text-align:center;
}

#footer ul {
  padding-top: 0vh;
  padding-left: 1vh;
}

#footer ul li{
  padding: 1vh;
  display: inline-block;

}

#footer #email {
  padding-top: 5vh;
}

#footer p {
  padding: 1vh;
  display: block;

}

#footer ul li a img{
  text-decoration: none;
  color: black;
  width: 50px;
  text-align:center;
  padding: 2vh;
  padding-top: 1vh;
}



#footer ul li a:hover {
  font-weight: 100;
}


@media (max-width: 780px) {

#navbar {
  display: none;
}
/* The side navigation menu */
.sidenav {
    display: inline;
    height: 0; /* 100% Full-height */
    width: 100%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    color: white;
    background-color: black; /* Black*/
    overflow: hidden; /* Disable horizontal scroll */
    padding-top: 0px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    padding-top: 10vh;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: aqua;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    float: right;
    top: -40px;
    right: 50px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #onpage {
    color: aquamarine;
  }

.navbar-menu {
  display: inline;
  float: right;
  width: 8.5vh;
  padding-top: 1.5vh;
  padding-bottom: 0vh;
  padding-right: 4vh;
}




.navbar-header {
  display: none;
}




#footer {
  background: white;
  padding-bottom: 3vh;
  text-align: center;
  padding-top: 2vh;

}

#footer ul li a img{
  padding: 15px;
}


.background-img {
  position: static;
  background-color: black;
  height: 110vh;
}

.starter-template h1 {
  float: left;

}

.starter-template img {
  float: none;
  width: 100%;
  font-size: 6vh;
  padding-bottom: 0;

}

.starter-template {
  
  font-weight: 100;
  padding-top: 0vh;
  text-align: center;
  color: white;

}

#maincontent {
  padding-top: 10vh;
}



.starter-template p{
  height: 200px;
}

}

