#background {
  background-image: url(roof-background.jpg);
  background-size: cover;
}

#panel1 {
    height: 300px;
    width: 200px;
    background-image: url(panel-texture.jpg);
    background-size: cover;

}

#panel2 {
    height: 300px;
    width: 200px;
    background-image: url(panel-texture.jpg);
    background-size: cover;
    animation-iteration-count: infinite;
    animation-name: opacitychanger1;
    animation-duration: 5s;
}

#panel3 {
    height: 300px;
    width: 200px;
    background-image: url(panel-texture.jpg);
    background-size: cover;
    animation-iteration-count: infinite;
    animation-name: opacitychanger2;
    animation-duration: 5s;
}

#panel4 {
    height: 300px;
    width: 200px;
    background-image: url(panel-texture.jpg);
    background-size: cover;
    animation-iteration-count: infinite;
    animation-name: opacitychanger3;
    animation-duration: 5s;
}

#panel-outline {
  position: absolute;
  z-index: 99;
  background-color:rgba(255, 102, 0, 0.1);
  border:darkorange 4px dashed;
  height: 300px;
  width: 730px;
  animation-name: expandborder;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}


#pointer {
    position: absolute;
    z-index: 100;
    width: 80px;
    top: 30%;
    animation-name: move;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}



@keyframes move {
    from { left: 31%; }
    to   { left: 61%; }
  }

  @keyframes opacitychanger1 {
    0%, 20%{
      opacity: .3;
    }
    25%, 28%, 100% {
        opacity: 1;
    }
  }
  @keyframes opacitychanger2 {
    0%, 36%{
      opacity: .3;
    }
    40%, 45%, 100% {
        opacity: 1;
    }
  }
  @keyframes opacitychanger3 {
    0%, 70%{
      opacity: .3;
    }
    72%, 77%, 100% {
        opacity: 1;
    }
  }

  @keyframes expandborder {
    from { width: 10%;}
    to { width: 40%;}
  }