#background-container {
  background-image: url(roof.jpg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 600px;
}

#relative-vertical-center {
  position: relative;
  top: 50%;
}

/*--------START----------- Touch Gesture Animation ----------------------*/
.touch-gesture {
  width: 5%;
  z-index: 99;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  position: absolute;
}

#gesture-one {
  animation-name: gesture1;
  background-size: cover;
  top: 1%;
  left: 37%;
}
#gesture-two {
  animation-name: gesture2;
  top: 50%;
  left: 42%;
  opacity: 0;
}

@keyframes gesture1 {
  0%, 5%, 25%{
    opacity: 1;
  }
  25%, 50% {
    opacity: 0;
  }
  50%, 100% {
    opacity: 0;
  }
}

@keyframes gesture2 {
  50%, 51% {
    opacity: 0;
  }
  51%, 80%  {
    opacity: 1;
  }
  80%, 85% {
    opacity: 0;
  }
  75%, 100% {
    opacity: 0;
  }
}

/*----------END------------- Touch Gesture Animation --------------------*/
/*-----------------------------------------------------------------------*/

/*----------START------------Pointer Animation --------------------------*/
  .pointer {
    width: 10%;
    position: absolute;
    z-index: 100;
    animation-name: slidePointer;
    animation-iteration-count: infinite;
    animation-duration: 5s;
  }

  @keyframes slidePointer {
    0% , 10%{
      left: 37%;
      top: 15%;
    }
    10%, 26% {
      left: 37%;
      top: 15%;
    }
    26%, 50% {
      left: 62%;
      top: 15%;
    }
    50% , 75%{
      left: 42%;
      top: 65%;
    }
    75%, 100% {
      left: 55%;
      top: 65%;
    }
  }

/*-------END------------- Pointer Animation ---------------------------*/
/*---------------------------------------------------------------------*/


/*--------START-------- Panels and Opacity Keyframes ------------------*/
.panel {
  height: 4vw;
  width: 3vw;
  background-color: rgba(45, 119, 204, 0.651);
  border: 1px solid #E7EDF2;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
}

#top-one {
  animation-name: opacitychanger1;
}
#top-two {
  animation-name: opacitychanger2;
}
#top-three {
  animation-name: opacitychanger3;
}
#top-four {
  animation-name: opacitychanger4;
}
#top-five {
  animation-name: opacitychanger5;
}
#top-six {
  animation-name: opacitychanger6;
}
#top-seven {
  animation-name: opacitychanger7;
}
#bottom-one {
  animation-name: opacitychanger8;
}
#bottom-two {
  animation-name: opacitychanger9;
}
#bottom-three {
  animation-name: opacitychanger10;
}
#bottom-four {
  animation-name: opacitychanger11;
}

@keyframes opacitychanger1 { /* For Panel #1 */
  0% , 3%{
    opacity: 0;
  }
  3% , 10%{
    opacity: 0;
  }
  10%, 100% {
    opacity: 1;
  }
}
@keyframes opacitychanger2 { /* For Panel #2 */
  0%, 10%, 12%{
    opacity: 0;
  }
 12%, 100% {
    opacity: 1;
  }
}
@keyframes opacitychanger3 { /* For Panel #3 */
  0%, 12%, 13%{
    opacity: 0;
  }
  13%, 100% {
    opacity: 1;
  }
}
@keyframes opacitychanger4 { /* For Panel #4 */
  0%, 13%, 14%{
    opacity: 0;
  }
  14%, 100% {
    opacity: 1;
  }
}
@keyframes opacitychanger5 { /* For Panel #5 */
  0%, 14%, 17%{
    opacity: 0;
  }
  17%, 100% {
    opacity: 1;
  }
}
@keyframes opacitychanger6 { /* For Panel #6 */
  0%, 17%, 20%{
    opacity: 0;
  }
  20%, 100% {
    opacity: 1;
  }
}
@keyframes opacitychanger7 { /* For Panel #7 */
  0%, 20%, 23%{
    opacity: 0;
  }
  23%, 100% {
    opacity: 1;
  }
}
@keyframes opacitychanger8 { /* For Panel #8 */
    0% , 50%{
    opacity: 0;
  }
  50% , 55%{
    opacity: 0;
  }
  55%, 100% {
    opacity: 1;
  }
}
@keyframes opacitychanger9 { /* For Panel #9 */
  0%, 52%, 55%{
    opacity: 0;
  }
  55%, 100% {
    opacity: 1;
  }
}
@keyframes opacitychanger10 { /* For Panel #10 */
  0%, 55%, 58%{
    opacity: 0;
  }
  58%, 100% {
    opacity: 1;
  }
}
@keyframes opacitychanger11 { /* For Panel #11 */
  0%, 58%, 62%{
    opacity: 0;
  }
  62%, 100% {
    opacity: 1;
  }
}

/*-------END------------- Panel and Opacity Keyframes -------------------*/
/*-----------------------------------------------------------------------*/


/*-------------------------------------------------------------------------*/
/*----------------------------- Media Queries -----------------------------*/
/*-------------------------------------------------------------------------*/

@media screen and (min-width: 1200px ) {
    /* <lg screen */
    .panel {
      height: 60px;
      width: 40px;
      border: 2px solid #E7EDF2;
    }
}

@media screen and (max-width: 1200px ) {
    /* <md screen */
    #gesture-one {
      left: 37%;
    }
    #gesture-two {
      left: 42%;
    }
}