@media screen and (max-width: 1200px ) {
}
  /* <lg screen */

@media screen and (max-width: 992px ) {
}
  /* <md screen */

@media screen and (max-width: 768px ) {
  /* <sm screen */
  #pointer {
    height: 240px;
    width: 160px;
    background-image: url(pointer.png);
  }
  @keyframes slidePointer {
    0% , 10%{
      left: 175px;
      top: 20px;
    }
    10%, 26% {
      left: 175px;
      top: 20px;
    }
    26%, 50% {
      left: 430px;
    }
    50% , 75%{
      left: 225px;
      top: 85px;
    }
    75%, 100% {
      left: 360px;
      top: 85px;
    }
  }

  .touch-gesture {
    height: 60px;
    width: 60px;
  }

  #gesture-one {
    top: 5px;
    left: 165px;
  }
  #gesture-two {
    top: 70px;
    left: 220px;
  }

}

@media screen and (max-width: 576px ) {
  /* <sm screen */

    #pointer {
      height: 120px;
      width: 70px;
      background-image: url(pointer.png);
    }
    @keyframes slidePointer {
      0% , 10%{
        left: 35px;
        top: 25px;
      }
      10%, 26% {
        left: 35px;
        top: 25px;
      }
      26%, 50% {
        left: 280px;
      }
      50% , 75%{
        left: 85px;
        top: 90px;
      }
      75%, 100% {
        left: 220px;
        top: 90px;
      }
    }

    #gesture-one {
      top: 15px;
      left: 25px;
    }
    #gesture-two {
      top: 80px;
      left: 78px;
    }
}

@media screen and (max-width: 380px ) {
  /* <sm screen */

    #pointer {
      height: 140px;
      width: 90px;
      background-image: url(pointer.png);
    }
    @keyframes slidePointer {
      0% , 10%{
        left: 20px;
        top: 25px;
      }
      10%, 26% {
        left: 20px;
        top: 25px;
      }
      26%, 50% {
        left: 250px;
      }
      50% , 75%{
        left: 60px;
        top: 85px;
      }
      75%, 100% {
        left: 200px;
        top: 85px;
      }
    }

    #gesture-one {
      top: 15px;
      left: 12px;
    }
    #gesture-two {
      top: 80px;
      left: 58px;
    }
}

@media screen and (max-width: 320px ) {
  /* <sm screen */

    .panel {
      height: 30px;
      width: 20px;
    }

    #pointer {
      height: 140px;
      width: 90px;
      background-image: url(pointer.png);
    }
    @keyframes slidePointer {
      0% , 10%{
        left: 35px;
        top: 10px;
      }
      10%, 26% {
        left: 35px;
        top: 10px;
      }
      26%, 50% {
        left: 160px;
      }
      50% , 75%{
        left: 60px;
        top: 40px;
      }
      75%, 100% {
        left: 130px;
        top: 40px;
      }
    }

    #gesture-one {
      top: 0px;
      left: 30px;
    }
    #gesture-two {
      top: 35px;
      left: 60px;
    }
}
