.wrapper {
    padding: 0;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.parent {
    width: 100%;
    height: 1000px;
    border: 1px solid orange;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.mysolar-background-map {
    background-image: url(images/main-image-cropped3.jpg); // Create another class background and have the main-imagre-cropped opacity fade to 0.

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: scale(5);
    height: 1000px; 
    z-index: 0;
    animation-name: background-zoom;
    animation-iteration-count: 1;
    animation-duration: 12s;
    animation-timing-function: ease-in-out;
    position: relative;

    @keyframes background-zoom {
        0%, 20% {
        transform: scale(1);
        }
        20%, 50% {
        transform: scale(1);
        }
        50%, 90% {
          transform: scale(5);
          }
        90%, 100% {
        }
    }
  } 
  
  .mysolar-map-zoomed {
    background-image: url(images/main-image-close-up2.jpg); // Create another class background and have the main-imagre-cropped opacity fade to 0.
    opacity: 1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: scale(.30);
    height: 1000px; 
    animation-name: zoomed-map;
    animation-iteration-count: 1;
    animation-duration: 12s;

    position: relative;

    @keyframes zoomed-map {
      0%, 96% {
        opacity: 0;
        }
        
        96%, 100% {
        opacity: 1;
        }
    } 
  }



  .marker {
      position: absolute;
      width: 60px;
      top: 42%;
      left: 52%;
      transform: scale(0.5);
      z-index: 1000;
      animation-name: marker-move;
      animation-iteration-count: inherit;
      animation-duration: 12s;
      opacity: 0; 

      

      @keyframes marker-move {
        0%, 20% {
          top: 60%;
          left: 40%;
          opacity: 1;
          }
        20%, 50% {
          top: 42%;
          left: 52%;
          opacity: 1;
          }
        50%, 51% {
          top: 42%;
          left: 52%;
          opacity: 1;
          }
        52% {
          top: 42%;
          left: 52%;
            opacity: 0; 
          }
      }
  }

  .animation-position {
    position: absolute;
    object-fit: cover;
    top: 475px;
    left: 61%; 
    width: 13%;
    z-index: 2000;
    transform: rotate(41.5deg);
    opacity: 1;
    animation-name: startPanels;
    animation-iteration-count: 1;
    animation-duration: 12s;
    @keyframes startPanels {
      0%, 59% {
        opacity: 0;
      }
      60%, 61% {
        opacity: 1;
      }
    }
  }
  @media screen and (max-width: 1780px ) {
    .animation-position {
    left: 65vw; 
    }
  }
  
  
  .panel-row {
    display: flex;
  }
  
  /*---------START------------Pointer Animation ---------------------------*/
    .pointer {
      width: 5vw;
      height: 5vw;
      position: absolute;
      z-index: 1;
      animation-name: slidePointer;
      animation-iteration-count: 1;
      animation-delay: 7s;
      animation-duration: 5s;
      background-image: url(mouse-pointer.png);
      background-size: cover;
      background-repeat: no-repeat;
      opacity: 0;
      transform: rotate(-45deg);
    }
  
    @keyframes slidePointer {
    
      0%, 1% {
        left: 0%;
        top: .5vw;
        opacity: 1;
      }
      0% {
        left: 0%;
        top: .5vw;
    
      }
      11% {
        left: 0;
        top: .5vw;
        width: 3vw;
        height: 3vw;
      }
      37%, 50% {
        left: 55%;
        top: .5vw;
        width: 3vw;
        height: 3vw;
      }
      50% , 57%{
        left: -0.5%;
        top: 2.3vw;
        width: 5vw;
        height: 5vw;
      }
      57% {
        left: -0.5%;
        top: 2.3vw;
        width: 3vw;
        height: 3vw;
      }
      83% {
        left: 70%;
        top: 2.3vw;
        opacity: 1;
        width: 3vw;
        height: 3vw;
      }
      99%, 100% {
        left: 70%;
        top: 2.3vw;
        opacity: 0;
        width: 5vw;
        height: 5vw;
      }
    }
  
  /*-------END------------- Pointer Animation ---------------------------*/
  /*---------------------------------------------------------------------*/
  
  
  /*--------START-------- Panels and Opacity Keyframes ------------------*/
  .panel-cta {
    height: 1.6vw;
    width: 1.1vw;
    margin: .03vw;
    background-color: rgba(45, 119, 204, 0.651);
    border: 1px solid #E7EDF2;
    animation-iteration-count: 1;
    animation-delay: 7s;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
  }
  
  @for $i from 1 through 15 {
    .cta-panel-#{$i} { 
      animation-name: cta-opacitychanger#{$i};
    }
  }
  
  @for $i from 1 through 6 {
    @keyframes cta-opacitychanger#{$i} {
      0%, #{($i * 2.3636) + 9 + '%'} {
        opacity: 0;
      }
      #{($i * 2.3636) + 10 + '%'}, 100% {
         opacity: 1;
       }
    }
  }
  
  @for $i from 7 through 13 {
    @keyframes cta-opacitychanger#{$i} {
      0%, #{(($i - 11) * 2.6) + 56 + '%'} {
        opacity: 0;
      }
      #{(($i - 11) * 2.6) + 57 + '%'}, 100% {
        opacity: 1;
      }
    }
  }