html,body {
    margin:0;
    padding:0;
}

body {
    width: 100%;
    margin-top: 0;
    border: 0;
    outline: 0;
    overflow: hidden;

}


#nav ul {
    background: rgba(7, 18, 25, 100%);
    width: 100%;
    padding: 20px; 
    position: absolute;
    margin: 0;
    border: 0;
    outline: 0;
    display: table;
    
}

#nav #menubar {
    display: none;
}

#nav ul li{
    list-style-type: none;
    display: table-cell;
    text-align: center;
    font-family: helvetica;
    font-size: 14px;
    color: white;
    transform:scale(1,.8); 
    padding-right: 40px;
}

#nav ul ul {
    position: absolute;
    min-width: 200px;
    display: none;
}

#nav ul ul li{
    min-width: 200px;
    list-style-type: none;
    display: block;
    font-family: helvetica;
    font-size: 16px;
    color: white;
    transform:scale(1,.8); 
    text-align: left;
    border: solid;
    border-color: rgba(60, 180, 255, 0.6)
}

#nav ul:hover ul {
    display: block;
    background: rgba(7, 18, 25, 60%);
    width: 250px;
    padding: 10px;
    margin-top: 40px;

}



#nav ul li img{
    width: 170px;
    transform:scale(1.2, 1.2); 
}

#nav ul li a{
    color: white;
}

#nav ul li a:hover{
    color: rgb(0, 174, 255);
}


#top-bar {
    padding: 12px;
    margin: 0;
    border:0;
    outline: 0;
    width: 100%;
    background: white;
    font-family: helvetica;
    font-size: 14px;
    transform:scale(1,.75); 
}

div a {
    text-decoration: none;
}



#float-right-end {
    float: right;
    padding-left: 1.5em;
    padding-right: 5em;
    color: rgb(129, 129, 129);

}

#float-right-end:hover {
    color: black;
}


#float-left {
    color: rgb(129, 129, 129);
    padding-left: 2.5em;

}

#float-left:hover {
    color: black;
}

#float-right {
    float: right;
    padding-left: 1.5em;
    padding-right: 1.5em;
    color: rgb(129, 129, 129);

}

#float-right:hover {
    color: black;
}

#float-right-call {
    float: right;
    padding-left: 1.5em;
    padding-right: 1.5em;
    color: rgb(0, 0, 0);

}

#background {
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;  
    height: 740px;
}


#background div {
    position: absolute;
    text-align: center;
    height: 740px;
}



@media (max-width: 1040px) {
    body {
        overflow: hidden;
    }

    .container {
        grid-template-areas:
            "sidebar content"
            "sidebar footer";
        grid-template-columns: 300px 1fr;
        grid-template-rows: 1fr auto;

    }

    #nav ul{
        background: rgba(7, 18, 25,);
        display: inline;
    }

    
    #nav #menubar {
        display: block;
        width: 80px;
    }


    #nav ul li{
        display: block;
        text-align: center;
        flex-direction: column;
        display: none !important;
    }

    #top-bar {
        font-size: 16px;
        padding: 10px;
        display: table-cell;
        text-align: center;
        position: relative;
        flex-direction: column;
        background-color: white; 
    }
    #nav #menubar ul:hover{
        display: block;
    }

    #img {
        width: 22vh;
        display: none !important;
    }

    
    #float-left {
        display: none !important;
    }

    #float-right {
        display: table-cell;
    }