html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand' , sans-serif;

}
.row {
    text-align: center;
    margin: 0;
    padding: 0;
}

.row ul{
    list-style-type: none;
}

#webdev {
    background: url(images/webdev.jpeg);
    background-size: cover;
    opacity: .5;
}

.row ul li {
    width: 100%;
    padding: 15vh;
}

.row ul li {
    width: 100%;
    padding: 15vh;
}



.row ul li a{
    color: black;
}



 
@media (max-width: 780px) {



}