html {
  scroll-behavior: smooth;
}


body {
  padding-top: 0px;
  margin: 0;
  border: 0;
  outline: 0;
  font-family: 'Quicksand' , sans-serif;
  background: white;
  background-size: cover;
}

#navmain {
  top: 0;
  transition: top 0.5s;
}

.row #animatedIllustration {
  background: black;
}

#images {
  width: 0%;
}
.sidenav {
    display: none;
}

 .container {
   position: static;

   padding: 12vh 4vh;
   width: 100%;
 }


#demo img {
  width: 30%;
}

.row {

  padding: 2vh;
}

 .col p {
  padding: 4vh;
  color: black;
  text-align: left;
  font-size: 2.4vh;
  font-weight: 200;
  }

  .row .col h1 {
    font-weight: 300;
    text-align: center;
    padding-top: 2vh;
    color: black;
    }

 .col img{
   float: left;
  width: 50%;
  padding: 4vh;
 }


 .col img:hover{

}



 .nav {
  font-weight: 100;
  background: rgba(255, 255, 255, 0);
  position: fixed;
  width: 100%;
  padding-top: 1vh;
  padding-bottom: 3.5vh;

}

.navbar-header {
  padding-top: .8vh;
  padding-left: 3.4vh;
  padding-bottom: 2.8vh;
}


.navbar-header a{

  display: inline;
  text-decoration: none;
  font-size: 3vh;
  font-weight: 100;
  color: rgb(0, 0, 0);

}

 .navbar-menu {
  display: none;
 }





#viewmore {
  display: block;
  font-size: 3vh;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  padding-bottom: 0;
}

#viewless {
  display: none;
  font-size: 3vh;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  padding-bottom: 0;
}

#clickMe {
  font-weight: 200;
  display: inline-block;
  text-decoration: none;
  color: rgb(221, 221, 221);
  font-size: 2vh;
  background: rgb(26, 26, 26);
  padding: 0.3em 2em;
  border-radius: 40px;
  margin: 1em 0;
  transition: 0.3s;

}


#clickMe:hover {
  font-weight: 200;
  display: inline-block;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 2vh;
  background: rgb(199, 199, 199);
  padding: 0.3em 2em;
  border-radius: 40px;
  margin: 1em 0;
  transition: 0.3s;
}


#navbar {
  position: absolute;
  text-align: left;
  padding-top: 7.2vh;
  padding-bottom: 1.4vh;
  padding-left: .5vh;
}

#navbar ul {
  display: inline;
}

#navbar ul li{
  display: inline;
  padding-right: 40px;



}

#navbar ul li a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 2vh;
  font-weight: 100;
  text-align: left;
  margin: 0;
  transition: 0.3s;

}



#navbar ul li a:hover {
  color: aquamarine;
  font-weight: 100;

}


.starter-template {
  font-weight: 100;
  padding: 20vh 15px;
  text-align: center;
  color: white;

}

.starter-template p {
  float: right;
  width: 50%;
}

.starter-template h1 {
  text-align: center;
  font-size: 6vh;

}

.starter-template img {
  float: left;
  width: 50%;
  font-size: 6vh;

}


.action-btn {
  display: inline-block;
  text-decoration: none;
  color: rgb(53, 53, 53);
  font-weight:500;
  font-size: 2vh;
  background: rgb(255, 255, 255);
  padding: 0.5em 2em;
  border-radius: 40px;
  margin: 1em 0;
  transition: 0.3s;


}

.action-btn:hover {
  background: rgba(0, 0, 0, 0.562);
  color: white;

}

#footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  background: white;
  padding-bottom: 3vh;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}

#footer ul {
  padding-top: 0vh;
  padding-left: 1vh;
}

#footer ul li{
  padding: 1vh;
  display: inline-block;

}

#footer ul li a img{
  text-decoration: none;
  color: black;
  width: 20px;
  font-weight: 100;
  margin: 0;
  padding-left: 2vh;
  padding-right: 2vh;

}



#footer ul li a:hover {
  font-weight: 100;
}




#myBtn { /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 3%; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgba(0, 0, 0, 0.452); /* Set a background color */
  color: rgb(255, 255, 255); /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 0.5em 2em; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 12px; /* Increase font size */
  font-weight: 100;

}

#myBtn:hover {
  background-color: rgb(54, 54, 54); /* Add a dark-grey background on hover */
}


@media (max-width: 780px) {

#navbar {
  display: none;
}
/* The side navigation menu */
.sidenav {
    display: inline;
    height: 0; /* 100% Full-height */
    width: 100%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    color: white;
    background-color: black; /* Black*/
    overflow: hidden; /* Disable horizontal scroll */
    padding-top: 0px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    padding-top: 10vh;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: aqua;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    float: right;
    top: -40px;
    right: 50px;
    font-size: 36px;
    margin-left: 50px;
  }

  #onpage {
    color: aquamarine;
  }
  

.navbar-menu {
  display: inline;
  float: right;
  width: 8.5vh;
  padding-top: 1.5vh;
  padding-bottom: 0vh;
  padding-right: 4vh;
}




.navbar-header {
  display: none;
}




#footer {
  background: white;
  padding-bottom: 3vh;
  text-align: center;
  padding-top: 2vh;

}

.background-img {
  position: static;
  background-color: black;
  height: 110vh;
}


.col p {

  color: black;
  text-align: center;
  }

  .col h1 {
    padding-top: 2vh;
    color: black;
    text-align: center;
    }

 .col img{
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  padding: 0;
  padding-bottom: 2vh;

 }

 .container {
  padding: 11vh 0vh;
  overflow: hidden;
}

#myBtn {
  padding: 0.4em 2em;
  font-size: 10px;
  background: rgba(0, 0, 0, 0.473)
}


#viewmoreTwo {
  display: block;
  font-size: 3vh;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  

}

#viewlessTwo {
  display: none;
  font-size: 3vh;
  margin-left:auto;
  margin-right:auto;
  text-align:center;


}